{% extends "layouts/base.html" %}

{% block title %} Vista Inmueble {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div>
        <a href="/tabla-inmuebles.html"><button type="button" class="btn btn-secondary " ><svg class="icon icon-xs" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" clip-rule="evenodd"></path></svg>Regresar  
        </button>
        </a>
    </div>
    <div>
        <a href="/registro-inmueble.html"><button type="button" class="btn btn-tertiary " ><svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" clip-rule="evenodd"></path></svg>Editar  
        </button>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-12 col-xl">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-3">Vista del Inmueble</h2>
            <div class="row">
                
                <div class="col-md-6 mb-3">
                    <div class="col-md-12 mb-3">
                        <label for="n-p-a">Nombre del Propietario Administrador</label>
                        <input type="text" id="d-c-a" class="form-control" placeholder="Disabled input" disabled>
                    </div>
                    <div class="col-md-12 mb-3" >
                        <label for="descripcion" class="h6 mb-2">Descripción</label>
                        <textarea class="form-control" placeholder="Descripción" id="descripcion" rows="6" disabled></textarea>
                    </div>
                    <div class="col-md-6">
                        <a class="col-md-4" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" >
                            <button class="btn btn-secondary mt-2 mb-2" type="button" >Link de Fotos y videos (por lo mientras a facebook)</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="col-md-12 mb-3">
                        <label for="d-c-a">Datos de Contacto del Administrador</label>
                        <input type="text" id="d-c-a" class="form-control" placeholder="Disabled input" disabled>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="precio">Precio</label>
                        <input type="text" id="precio" class="form-control" placeholder="Disabled input" disabled>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="ubicacion">Ubicación</label>
                        <input type="text" id="ubicacion" class="form-control" placeholder="Disabled input" disabled>
                    </div>
                </div>
                
                <h2 class="h5 mb-3" >Breve Descripción del Inmueble</h2>
                <div class="col-md-6 mb-4 row ">
                    <h2 class="h6 mb-3">Características</h2>    
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" value="" id="a_garage" disabled>
                        <label class="form-check-label" for="a_garage">Garage</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" value="" id="a_terraza" disabled>
                        <label class="form-check-label" for="a_terraza">Terraza</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" value="" id="a_alberca" disabled>
                        <label class="form-check-label" for="a_alberca">Alberca</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" value="" id="a_cocina" disabled>
                        <label class="form-check-label" for="a_cocina">Cocina</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" value="" id="a_apotable" disabled>
                        <label class="form-check-label" for="a_apotable">Agua potable</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" value="" id="a_amueblado" disabled>
                        <label class="form-check-label" for="a_mueblado">Amueblado</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" value="" id="a_c_lavado" disabled>
                        <label class="form-check-label" for="a_c_lavado">Cuarto de Lavado</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" value="" id="a_mascotas" disabled>
                        <label class="form-check-label" for="a_mascotas">Mascotas</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" value="" id="a_seguridad" disabled>
                        <label class="form-check-label" for="a_seguridad">Seguridad</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" value="" id="a-ccerrado" disabled>
                        <label class="form-check-label" for="a_ccerrado">Circuito Cerrado</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" value="" id="otro" disabled>
                        <label class="form-check-label" for="otro">Otro</label>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    function mostrar(dato) {
        if (dato == "1") {
          document.getElementById("FS").style.display = "block";
          document.getElementById("OSPF").style.display = "none";
        }
        if (dato == "2") {
          document.getElementById("FS").style.display = "none";
          document.getElementById("OSPF").style.display = "block";
        }
      }
      
</script>

{% endblock javascripts %}
