{% extends "layouts/base.html" %}

{% block title %} Vista Inmueble {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div>
        <a href="/listarinmuebles"><button type="button" class="btn btn-secondary " ><svg class="icon icon-xs" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" clip-rule="evenodd"></path></svg>Regresar  
        </button>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-12 col-xl">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-3">Vista del Inmueble</h2>
            <div class="row">
                <div class="col-md-6 card border-0 shadow mb-4 " >
                    <div class="col-md-7 mb-3">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" >
                            <button class="btn btn-secondary mt-2" type="button" >Link de Fotos y videos (por lo mientras a facebook)</button>
                        </a>
                    </div>
                    <div class="d-xl-flex align-items-center mb-3 " >
                        <div class="col-md-1 " align="center" id="atras">
                            <button class="btn btn-secondary" type="button"><svg class="icon icon-xs" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"></path></svg></button>
                        </div>
                        <div class="col-md-10 me-2 image-xl" align="center" >
                            <img class="rounded "   src="/static/assets/img/galeria/img_1.jpg" id="cambio" alt="" data-bs-toggle="modal" data-bs-target="#modal-default">
                        </div>
                        <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h2 class="h6 modal-title">Fotos</h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" align="center">
                                        <img class="rounded "  src="/static/assets/img/galeria/img_1.jpg" id="foto" alt="">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 " align="center" id="adel">
                            <button class="btn btn-secondary" type="button"><svg class="icon icon-xs" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" ></path></svg></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="col-md-12 mb-3">
                        <label for="n-p-a">Administrador</label>
                        <input type="text" id="d-c-a" class="form-control" placeholder="Jhon Cleant" disabled>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="d-c-a">Telefono Contacto</label>
                        <input type="text" id="d-c-a" class="form-control" placeholder="5512131415" disabled>
                    </div>                
                    <div class="col-md-12 mb-3">
                        <label for="ubicacion">Ubicación</label>
                        <input type="text" id="ubicacion" class="form-control" value="{{verinmueble.municipio_alcaldia}} {{verinmueble.colonia}} {{verinmueble.postal_code}} {{verinmueble.estado}} {{verinmueble.calle}} {{verinmueble.numeroExterior}}" disabled>
                    </div>
                    <div class="col-md-6 mb-3 " id="op_compra">
                        <label class="form-check-label" for="op_compra">En Renta con opción a Venta</label>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="alias">Alias del Inmueble </label>
                                <input class="form-control" id="alias" name="alias" type="text" value="{{verinmueble.alias_inmueble}}" disabled>
                            </div>
                            <div class="col-md-6 mb-3"><!---->
                                <label for="estatus">Estatus del Inmueble </label>
                                <input class="form-control" id="estatus" name="estatus" type="text" value="{{verinmueble.estatus_inmueble}}" disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="t_inmueble">Tipo de Inmueble</label>
                                <input class="form-control" id="t_inmueble" name="t_inmueble" type="text" value="{{verinmueble.tipo_inmueble}}" disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="u_inmueble">Uso del Inmueble</label>
                                <input class="form-control" id="u_inmueble" name="u_inmueble" type="text" value="{{verinmueble.uso_inmueble}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="renta">Renta</label>
                                <input class="form-control" id="renta" name="renta" type="number" value="{{verinmueble.renta}}" min="0" disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="venta">Venta</label>
                                <input class="form-control" id="venta" name="venta" min="0" type="number" value="{{verinmueble.venta}}" disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="v_inmueble">Valor del Inmueble</label>
                                <input class="form-control" id="v_inmueble" name="v_inmueble" min="0" type="number" value="{{verinmueble.valor_inmueble}}" disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="manteniniento">Cuota de Mantenimiento</label>
                                <input class="form-control" id="mantenimiento" name="mantenimiento" type="number" value="{{verinmueble.cuota_mantenimiento}}" min="0" disabled>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="b_medio">Baños Completos</label>
                        <input class="form-control" id="b_medio" name="b_medio" type="number" value="{{verinmueble.n_baños}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="b_medio">Medios Baños</label>
                        <input class="form-control" id="b_medio" name="b_medio" type="number" value="{{verinmueble.n_medios_baños}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="recamaras">Recamaras</label>
                        <input class="form-control" id="recamaras" name="recamaras" type="number" value="{{verinmueble.n_recamaras}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="pisos">Pisos</label>
                        <input class="form-control" id="pisos" name="pisos" type="number" value="{{verinmueble.n_pisos}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cajones">Cajones de Estacionamiento</label>
                        <input class="form-control" id="cajones" name="cajones" type="number" value="{{verinmueble.estacionamiento_cajones}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="c_m2">Construidos m2</label>
                        <input class="form-control" id="c_m2" name="c_m2" type="number" value="{{verinmueble.terrenoContruido}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-4">
                        <label for="t_m2">Terreno m2</label>
                        <input class="form-control" id="t_m2" name="t_m2" type="number" value="{{verinmueble.terrenoTotal}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-4">
                        <label for="c_año">Año de Construcción</label>
                        <input class="form-control" id="c_año" name="c_año" type="number" value="{{verinmueble.año_contruccion}}" min="0" maxlength="4" disabled>
                    </div>
                <div class="col-md-6 mb-2 ">
                    <div class="row">
                        <h2 class="h5 mb-2">Amenidades</h2>
                        <div class="col-md-4" id="garaje">
                            <label class="form-check-label" for="garaje">Garaje</label>
                        </div>
                        <div class="col-md-4" id="terraza">
                            <label class="form-check-label" for="terraza">Terraza</label>
                        </div>
                        <div class="col-md-4" id="alberca">
                            <label class="form-check-label" for="alberca">Alberca</label>
                        </div>
                        <div class="col-md-4" id="cocina">
                            <label class="form-check-label" for="cocina">Cocina</label>
                        </div>
                        <div class="col-md-4" id="amueblado">
                            <label class="form-check-label" for="amueblado">Amueblado</label>
                        </div>
                        <div class="col-md-4" id="cuarto_lavado" >
                            <label class="form-check-label" for="cuarto_lavado">Cuarto de Lavado</label>
                        </div>
                        <div class="col-md-4" id="mascotas" >
                            <label class="form-check-label" for="mascotas">Mascotas</label>
                        </div>
                        <div class="col-md-4" id="gym">
                            <label class="form-check-label" for="gym">Gym</label>
                        </div>
                        <div class="col-md-4" id="bar">
                            <label class="form-check-label" for="bar">Bar</label>
                        </div>
                        <div class="col-md-4" id="restaurante_bar" >
                            <label class="form-check-label" for="restaurante_bar">Restaurante Bar</label>
                        </div>
                        <div class="col-md-4" id="sala_cine" >
                            <label class="form-check-label" for="sala_cine">Sala de Cine</label>
                        </div>
                        <div class="col-md-4" id="salon_estudio">
                            <label class="form-check-label" for="salon_estudio">Cuarto de Estudios</label>
                        </div>
                        <div class="col-md-4" id="area_comun">
                            <label class="form-check-label" for="area_comun">Área comun</label>
                        </div>
                        <div class="col-md-4" id="sala_juegos">
                            <label class="form-check-label" for="sala_juegos">Sala de Juegos</label>
                        </div>
                        <div class="col-md-4" id="salon_eventos">
                            <label class="form-check-label" for="salon_eventos">Salón de Eventos</label>
                        </div>
                        <div class="col-md-4" id="espacio_deportivo">
                            <label class="form-check-label" for="espacio_deportivo">Canchas Deportivas</label>
                        </div>
                        <div class="col-md-4" id="busniess_center">
                            <label class="form-check-label" for="busniess_center">Business Center</label>
                        </div>
                        <div class="col-md-4" id="roof_garden">
                            <label class="form-check-label" for="roof_garden">Roof Garden</label>
                        </div>
                        <div class="col-md-4" id="otroA">
                            <label class="form-check-label" for="otroA" >Otro</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-2 ">
                    <div class="row">
                        <h2 class="h5 mb-2">Servicios</h2>
                        <div class="col-md-4" id="internet">
                            <label class="form-check-label" for="internet">Internet/Wifi</label>
                        </div>
                        <div class="col-md-4" id="electricidad">
                            <label class="form-check-label" for="electricidad">Energía Eléctrica</label>
                        </div>
                        <div class="col-md-4" id="agua_potable">
                            <label class="form-check-label" for="agua_potable">Agua Potable</label>
                        </div>
                        <div class="col-md-4" id="televisionCable">
                            <label class="form-check-label" for="televisionCable">Tele por Cable</label>
                        </div>
                        <div class="col-md-4" id="gas" >
                            <label class="form-check-label" for="gas">Gas</label>
                        </div>
                        <div class="col-md-4" id="lineaTelefonica" >
                            <label class="form-check-label" for="lineaTelefonica">Línea Telefónica</label>
                        </div>
                        <div class="col-md-4" id="drenaje">
                            <label class="form-check-label" for="drenaje">Drenaje</label>
                        </div>
                        <div class="col-md-4" id="seguridad">
                            <label class="form-check-label" for="seguridad">Seguridad</label>
                        </div>
                        <div class="col-md-4" id="camarasSeguridad">
                            <label class="form-check-label" for="camarasSeguridad">Circuito Cerrado</label>
                        </div>
                        <div class="col-md-4" id="area_juegos" >
                            <label class="form-check-label" for="area_juegos">Área de juegos</label>
                        </div>
                        <div class="col-md-4" id="otroS" >
                            <label class="form-check-label" for="otroS" >Otro</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="descripcion" class="h5 mb-2">Descripción</label>
                    <input class="form-control" value="{{verinmueble.descripcion}}" id="descripcion" rows="5" disabled>
                </div>
                <div class="col-md-6 mb-4">
                    <label for="r_inmueble" class="h6 mb-2">Referencias</label>
                    <input class="form-control" value="{{verinmueble.referencias}}" id="r_inmueble" rows="5" disabled>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    function mostrar(dato) {
        if (dato == "1") {
          document.getElementById("FS").style.display = "block";
          document.getElementById("OSPF").style.display = "none";
        }
        if (dato == "2") {
          document.getElementById("FS").style.display = "none";
          document.getElementById("OSPF").style.display = "block";
        }
      }
      
</script>
<script>//Galeria
    let adelante=document.getElementById("adel");
    let foto=document.getElementById("foto");
    let atras=document.getElementById("atras");
    let imagechange=document.getElementById("cambio");
    var i=1;
    const a="/static/assets/img/galeria/img_";
    const c=".jpg";
    const n_imag=5;
    var direc;
    foto.onclick=function(){
      if(i==n_imag){
          i=1;
      }else{
          i++;
      }
      const b=i;
      direc=a+b+c;
      m_fotos();
  }
    adelante.onclick=function(){
      if(i==n_imag){
          i=1;
      }else{
          i++;
      }
      const b=i;
      direc=a+b+c;
      m_fotos();
    }
    atras.onclick=function(){
      if(i==1){
          i=n_imag;
      }else{
          i--;
      }
      const b=i;
      direc=a+b+c;
      m_fotos();
    }
    function m_fotos(){
      imagechange.src=direc;
      foto.src=direc;
      
    }
    
</script>

<script>
    
    const checks = ["garaje","terraza","alberca","cocina","amueblado","cuarto_lavado","mascotas","gym","bar","restaurante_bar","sala_cine","salon_estudio","area_comun","sala_juegos","salon_eventos","espacio_deportivo","busniess_center","roof_garden","otroA","internet","electricidad","agua_potable","televisionCable","gas","lineaTelefonica","drenaje","seguridad","camarasSeguridad","area_juegos","otroS","op_compra"];

    const valores=['{{verinmueble.garaje}}','{{verinmueble.terraza}}','{{verinmueble.alberca}}','{{verinmueble.cocina}}','{{verinmueble.amueblado}}','{{verinmueble.cuarto_lavado}}','{{verinmueble.mascotas}}','{{verinmueble.gym}}','{{verinmueble.bar}}','{{verinmueble.restaurante_bar}}','{{verinmueble.sala_cine}}','{{verinmueble.salon_estudio}}','{{verinmueble.area_comun}}','{{verinmueble.sala_juegos}}','{{verinmueble.salon_eventos}}','{{verinmueble.espacio_deportivo}}','{{verinmueble.busniess_center}}','{{verinmueble.roof_garden}}','{{verinmueble.otroA}}','{{verinmueble.internet}}','{{verinmueble.electricidad}}','{{verinmueble.agua_potable}}','{{verinmueble.televisionCable}}','{{verinmueble.gas}}','{{verinmueble.lineaTelefonica}}','{{verinmueble.drenaje}}','{{verinmueble.seguridad}}','{{verinmueble.camarasSeguridad}}','{{verinmueble.area_juegos}}','{{verinmueble.otroS}}','{{verinmueble.op_compra}}'];
    const AyS = checks.map(function(x){
        x = document.createElement("input");
        x.setAttribute("class","form-check-input");
        x.setAttribute("type","checkbox");
        x.setAttribute("disabled","");
        return x;
    });
    console.log(AyS);
    const $inputc = checks.map(function(x){
        let y=document.getElementById(x);
        return y;}
    );

    for(var i=0;i<valores.length;i++){
        AyS[i].setAttribute("id",checks[i]);
        if(valores[i]=='on'){
            AyS[i].setAttribute("checked","");
            $inputc[i].prepend(AyS[i]);
        }else if(valores[i]!='on'){
            $inputc[i].prepend(AyS[i]);}
    };
        
</script>

{% endblock javascripts %}
