{% extends "layouts/base.html" %}

{% block title %} Vista Inmueble {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div>
        <a href="/listarinmuebles"><button type="button" class="btn btn-secondary " ><svg class="icon icon-xs" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" clip-rule="evenodd"></path></svg>Regresar  
        </button>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-12 col-xl">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-3">Vista del Inmueble</h2>
            <div class="row">
                <div class="col-md-6 card border-0 shadow mb-4 " >
                    <div class="col-md-7 mb-3">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" >
                            <button class="btn btn-secondary mt-2" type="button" >Link de Fotos y videos (por lo mientras a facebook)</button>
                        </a>
                    </div>
                    <div class="d-xl-flex align-items-center mb-3 " >
                        <div class="col-md-1 " align="center" id="atras">
                            <button class="btn btn-secondary" type="button"><svg class="icon icon-xs" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"></path></svg></button>
                        </div>
                        <div class="col-md-10 me-2 image-xl" align="center" >
                            <img class="rounded "   src="/static/assets/img/galeria/img_1.jpg" id="cambio" alt="" data-bs-toggle="modal" data-bs-target="#modal-default">
                        </div>
                        <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h2 class="h6 modal-title">Fotos</h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" align="center">
                                        <img class="rounded "  src="/static/assets/img/galeria/img_1.jpg" id="foto" alt="">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 " align="center" id="adel">
                            <button class="btn btn-secondary" type="button"><svg class="icon icon-xs" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" ></path></svg></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="col-md-12 mb-3">
                        <label for="n-p-a">Nombre del Propietario Administrador</label>
                        <input type="text" id="d-c-a" class="form-control" placeholder="Jhon Cleant" disabled>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="d-c-a">Telefono Contacto</label>
                        <input type="text" id="d-c-a" class="form-control" placeholder="5512131415" disabled>
                    </div>                
                    <div class="col-md-12 mb-3">
                        <label for="ubicacion">Ubicación</label>
                        <input type="text" id="ubicacion" class="form-control" value="{{verinmueble.municipio_alcaldia}} {{verinmueble.colonia}} {{verinmueble.postal_code}} {{verinmueble.estado}} {{verinmueble.calle}} {{verinmueble.numeroExterior}}" disabled>
                    </div>
                    <div class="col-md-6 mb-3 " >
                        <input class="form-check-input" type="checkbox" id="o_venta" disabled checked>
                        <label class="form-check-label" for="o_venta">En Renta con opción a Venta</label>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="alias">Alias del Inmueble </label>
                                <input class="form-control" id="alias" name="alias" type="text" value="{{verinmueble.alias_inmueble}}" disabled>
                            </div>
                            <div class="col-md-6 mb-3"><!---->
                                <label for="estatus">Estatus del Inmueble </label>
                                <input class="form-control" id="estatus" name="estatus" type="text" value="{{verinmueble.estatus_inmueble}}" disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="t_inmueble">Tipo de Inmueble</label>
                                <input class="form-control" id="t_inmueble" name="t_inmueble" type="text" value="{{verinmueble.tipo_inmueble}}" disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="u_inmueble">Uso del Inmueble</label>
                                <input class="form-control" id="u_inmueble" name="u_inmueble" type="text" value="{{verinmueble.uso_inmueble}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="renta">Renta</label>
                                <input class="form-control" id="renta" name="renta" type="number" value="{{verinmueble.renta}}" min="0" disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="venta">Venta</label>
                                <input class="form-control" id="venta" name="venta" min="0" type="number" value="{{verinmueble.venta}}" disabled>
                            </div>
                            <div class="col-md-6 mb-5">
                                <label for="v_inmueble">Valor del Inmueble</label>
                                <input class="form-control" id="v_inmueble" name="v_inmueble" min="0" type="number" value="{{verinmueble.valor_inmueble}}" disabled>
                            </div>
                            <div class="col-md-6 mb-5">
                                <label for="manteniniento">Cuota de Mantenimiento</label>
                                <input class="form-control" id="mantenimiento" name="mantenimiento" type="number" value="{{verinmueble.cuota_mantenimiento}}" min="0" disabled>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="b_medio">Baños Completos</label>
                        <input class="form-control" id="b_medio" name="b_medio" type="number" value="{{verinmueble.n_baños}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="b_medio">Medios Baños</label>
                        <input class="form-control" id="b_medio" name="b_medio" type="number" value="{{verinmueble.n_medios_baños}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="recamaras">Recamaras</label>
                        <input class="form-control" id="recamaras" name="recamaras" type="number" value="{{verinmueble.n_recamaras}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="pisos">Pisos</label>
                        <input class="form-control" id="pisos" name="pisos" type="number" value="{{verinmueble.n_pisos}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cajones">Cajones de Estacionamiento</label>
                        <input class="form-control" id="cajones" name="cajones" type="number" value="{{verinmueble.estacionamiento_cajones}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="c_m2">Construidos m2</label>
                        <input class="form-control" id="c_m2" name="c_m2" type="number" value="{{verinmueble.terrenoContruido}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-4">
                        <label for="t_m2">Terreno m2</label>
                        <input class="form-control" id="t_m2" name="t_m2" type="number" value="{{verinmueble.terrenoTotal}}" min="0" disabled>
                    </div>
                    <div class="col-md-3 mb-4">
                        <label for="c_año">Año de Construcción</label>
                        <input class="form-control" id="c_año" name="c_año" type="number" value="{{verinmueble.año_contruccion}}" min="0" maxlength="4" disabled>
                    </div>
                
                <a><button type="text" class="btn btn-secondary mb-4" >Breve Descripción del Inmueble</button></a>
                <div class="col-md-6 mb-2 ">
                    <div class="row">
                        <h2 class="h5 mb-2">Amenidades</h2>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="a_garage" checked disabled>
                            <label class="form-check-label" for="a_garage">Garage</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="a_terraza" disabled>
                            <label class="form-check-label" for="a_terraza">Terraza</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="a_alberca" disabled>
                            <label class="form-check-label" for="a_alberca">Alberca</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="a_cocina" disabled>
                            <label class="form-check-label" for="a_cocina">Cocina</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="a_amueblado" disabled>
                            <label class="form-check-label" for="a_mueblado">Amueblado</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="a_c_lavado" disabled>
                            <label class="form-check-label" for="a_c_lavado">Cuarto de Lavado</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="a_mascotas" disabled>
                            <label class="form-check-label" for="a_mascotas">Mascotas</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="gym" disabled>
                            <label class="form-check-label" for="gym">Gym</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="bar" disabled>
                            <label class="form-check-label" for="bar">Bar</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="r_bar" disabled>
                            <label class="form-check-label" for="r_bar">Restaurante Bar</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="s_cine" disabled>
                            <label class="form-check-label" for="s_cine">Sala de Cine</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="c_estudios" disabled>
                            <label class="form-check-label" for="c_estudios">Cuarto de Estudios</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="a_comun" disabled>
                            <label class="form-check-label" for="a_comun">Área comun</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="s_juegos" disabled>
                            <label class="form-check-label" for="s_juegos">Sala de Juegos</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="s_eventos" disabled>
                            <label class="form-check-label" for="s_eventos">Salón de Eventos</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="c_deportivas" disabled>
                            <label class="form-check-label" for="c_deportivas">Canchas Deportivas</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="b_center" disabled>
                            <label class="form-check-label" for="b_center">Business Center</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="r_garden" disabled>
                            <label class="form-check-label" for="r_garden">Roof Garden</label>
                        </div>
                        <div class="col-md-4" >
                            <input class="form-check-input" type="checkbox" title="Especifique en la descripción" data-bs-toggle="tooltip" data-bs-placement="right" disabled>
                            <label class="form-check-label" for="otro" >Otro</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-2 ">
                    <div class="row">
                        <h2 class="h5 mb-2">Servicios</h2>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="wifi" disabled>
                            <label class="form-check-label" for="wifi">Internet/Wifi</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="energia" disabled>
                            <label class="form-check-label" for="energia">Energía Eléctrica</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="a_potable" disabled>
                            <label class="form-check-label" for="a_potable">Agua Potable</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="t_cable" disabled>
                            <label class="form-check-label" for="t_cable">Tele por Cable</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="gas" disabled>
                            <label class="form-check-label" for="gas">Gas</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="l_telefonica" disabled>
                            <label class="form-check-label" for="l_telefonica">Línea Telefónica</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="drenaje" disabled>
                            <label class="form-check-label" for="drenaje">Drenaje</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="seguridad" disabled>
                            <label class="form-check-label" for="seguridad">Seguridad</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="c_cerrado" disabled>
                            <label class="form-check-label" for="c_cerrado">Circuito Cerrado</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" id="a_juegos" disabled>
                            <label class="form-check-label" for="a_juegos">Área de juegos</label>
                        </div>
                        <div class="col-md-4" >
                            <input class="form-check-input" type="checkbox" value="" id="otro" disabled>
                            <label class="form-check-label" for="otro" >Otro</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="descripcion" class="h5 mb-2">Descripción</label>
                    <input class="form-control" value="{{verinmueble.descripcion}}" id="descripcion" rows="5" disabled>
                </div>
                <div class="col-md-6 mb-4">
                    <label for="r_inmueble" class="h6 mb-2">Referencias</label>
                    <input class="form-control" value="{{verinmueble.referencias}}" id="r_inmueble" rows="5" disabled>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    function mostrar(dato) {
        if (dato == "1") {
          document.getElementById("FS").style.display = "block";
          document.getElementById("OSPF").style.display = "none";
        }
        if (dato == "2") {
          document.getElementById("FS").style.display = "none";
          document.getElementById("OSPF").style.display = "block";
        }
      }
      
</script>
<script>//Galeria
    let adelante=document.getElementById("adel");
    let foto=document.getElementById("foto");
    let atras=document.getElementById("atras");
    let imagechange=document.getElementById("cambio");
    var i=1;
    const a="/static/assets/img/galeria/img_";
    const c=".jpg";
    const n_imag=5;
    var direc;
    foto.onclick=function(){
      if(i==n_imag){
          i=1;
      }else{
          i++;
      }
      const b=i;
      direc=a+b+c;
      m_fotos();
  }
    adelante.onclick=function(){
      if(i==n_imag){
          i=1;
      }else{
          i++;
      }
      const b=i;
      direc=a+b+c;
      m_fotos();
    }
    atras.onclick=function(){
      if(i==1){
          i=n_imag;
      }else{
          i--;
      }
      const b=i;
      direc=a+b+c;
      m_fotos();
    }
    function m_fotos(){
      imagechange.src=direc;
      foto.src=direc;
      
    }
    
</script>

<script>
        const AyS = document.createElement("h1");
        AyS.setAttribute("class","form-check-input");
        AyS.setAttribute("type","checkbox");
        AyS.setAttribute("disabled","");
        console.log(AyS);
        const $garage=document.getElementById("a_garage");
        Vgarage='{{inmuebe.garage}}';
        if(Vgarage=="on"){
            AyS.setAttribute("checked","");
            $garage.prepend(AyS);
        }else if (Vgarage!="on") {
            AyS.innerHTML =Vgarage;
            $garage.prepend(AyS);}
        const $cocina=document.getElementById("a_cocina");
        Vcocina='{{inmuebe.cocina}}';
        if(Vcocina=="on"){
            AyS.setAttribute("checked","");
            $cocina.prepend(AyS);
        }else if (Vcocina!="on") {
            AyS.innerHTML =Vcocina;
            $cocina.prepend(AyS);}
        const $mascotas=document.getElementById("a_mascotas");
        Vmascotas='{{inmuebe.mascotas}}';
        if(Vmascotas=="on"){
            AyS.setAttribute("checked","");
            $mascotas.prepend(AyS);
        }else if (Vmascotas!="on") {
            AyS.innerHTML =Vmascotas;
            $mascotas.prepend(AyS);}
        const $rbar=document.getElementById("a_rbar");
        Vrbar='{{inmuebe.rbar}}';
        if(Vrbar=="on"){
            AyS.setAttribute("checked","");
            $rbar.prepend(AyS);
        }else if (Vrbar!="on") {
            AyS.innerHTML =Vrbar;
            $rbar.prepend(AyS);}
        const $acomun=document.getElementById("a_acomun");
        Vacomun='{{inmuebe.acomun}}';
        if(Vacomun=="on"){
            AyS.setAttribute("checked","");
            $acomun.prepend(AyS);
        }else if (Vacomun!="on") {
            AyS.innerHTML =Vacomun;
            $acomun.prepend(AyS);}
        const $canchas=document.getElementById("a_canchas");
        Vcanchas='{{inmuebe.canchas}}';
        if(Vcanchas=="on"){
            AyS.setAttribute("checked","");
            $canchas.prepend(AyS);
        }else if (Vcanchas!="on") {
            AyS.innerHTML =Vcanchas;
            $canchas.prepend(AyS);}
        const $terraza=document.getElementById("a_terraza");
        Vterraza='{{inmuebe.terraza}}';
        if(Vterraza=="on"){
            AyS.setAttribute("checked","");
            $terraza.prepend(AyS);
        }else if (Vterraza!="on") {
            AyS.innerHTML =Vterraza;
            $canchas.prepend(AyS);}
        const $amueblado=document.getElementById("a_amueblado");
        Vamueblado='{{inmuebe.amueblado}}';
        if(Vamueblado=="on"){
            AyS.setAttribute("checked","");
            $amueblado.prepend(AyS);
        }else if (Vamueblado!="on") {
            AyS.innerHTML =Vamueblado;
            $canchas.prepend(AyS);}
        const $gym=document.getElementById("a_gym");
        Vgym='{{inmuebe.gym}}';
        if(Vgym=="on"){
            AyS.setAttribute("checked","");
            $gym.prepend(AyS);
        }else if (Vgym!="on") {
            AyS.innerHTML =Vgym;
            $canchas.prepend(AyS);}
        const $scine=document.getElementById("a_scine");
        Vscine='{{inmuebe.scine}}';
        if(Vscine=="on"){
            AyS.setAttribute("checked","");
            $scine.prepend(AyS);
        }else if (Vscine!="on") {
            AyS.innerHTML =Vscine;
            $canchas.prepend(AyS);}
        const $sjuegos=document.getElementById("a_sjuegos");
        Vsjuegos='{{inmuebe.sjuegos}}';
        if(Vsjuegos=="on"){
            AyS.setAttribute("checked","");
            $sjuegos.prepend(AyS);
        }else if (Vsjuegos!="on") {
            AyS.innerHTML =Vsjuegos;
            $canchas.prepend(AyS);}
        const $bcenter=document.getElementById("a_bcenter");
        Vbcenter='{{inmuebe.bcenter}}';
        if(Vbcenter=="on"){
            AyS.setAttribute("checked","");
            $bcenter.prepend(AyS);
        }else if (Vbcenter!="on") {
            AyS.innerHTML =Vbcenter;
            $canchas.prepend(AyS);}
        const $alberca=document.getElementById("a_alberca");
        Valberca='{{inmuebe.alberca}}';
        if(Valberca=="on"){
            AyS.setAttribute("checked","");
            $alberca.prepend(AyS);
        }else if (Valberca!="on") {
            AyS.innerHTML =Valberca;
            $canchas.prepend(AyS);}
        const $lavado=document.getElementById("a_lavado");
        Vlavado='{{inmuebe.lavado}}';
        if(Vlavado=="on"){
            AyS.setAttribute("checked","");
            $lavado.prepend(AyS);
        }else if (Vlavado!="on") {
            AyS.innerHTML =Vlavado;
            $canchas.prepend(AyS);}
        const $bar=document.getElementById("a_bar");
        Vbar='{{inmuebe.bar}}';
        if(Vbar=="on"){
            AyS.setAttribute("checked","");
            $bar.prepend(AyS);
        }else if (Vbar!="on") {
            AyS.innerHTML =Vbar;
            $canchas.prepend(AyS);}
        const $estudios=document.getElementById("a_estudios");
        Vestudios='{{inmuebe.estudios}}';
        if(Vestudios=="on"){
            AyS.setAttribute("checked","");
            $estudios.prepend(AyS);
        }else if (Vestudios!="on") {
            AyS.innerHTML =Vestudios;
            $canchas.prepend(AyS);}
        const $eventos=document.getElementById("a_eventos");
        Veventos='{{inmuebe.eventos}}';
        if(Veventos=="on"){
            AyS.setAttribute("checked","");
            $eventos.prepend(AyS);
        }else if (Veventos!="on") {
            AyS.innerHTML =Veventos;
            $canchas.prepend(AyS);}
        const $rgarden=document.getElementById("a_rgarden");
        Vrgarden='{{inmuebe.rgarden}}';
        if(Vrgarden=="on"){
            AyS.setAttribute("checked","");
            $rgarden.prepend(AyS);
        }else if (Vrgarden!="on") {
            AyS.innerHTML =Vrgarden;
            $canchas.prepend(AyS);}
        const $otroa=document.getElementById("a_otroa");
        Votroa='{{inmuebe.otroa}}';
        if(Votroa=="on"){
            AyS.setAttribute("checked","");
            $otroa.prepend(AyS);
        }else if (Votroa!="on") {
            AyS.innerHTML =Votroa;
            $canchas.prepend(AyS);}
        const $internet=document.getElementById("a_internet");
        Vinternet='{{inmuebe.internet}}';
        if(Vinternet=="on"){
            AyS.setAttribute("checked","");
            $internet.prepend(AyS);
        }else if (Vinternet!="on") {
            AyS.innerHTML =Vinternet;
            $canchas.prepend(AyS);}
        const $cable=document.getElementById("a_cable");
        Vcable='{{inmuebe.cable}}';
        if(Vcable=="on"){
            AyS.setAttribute("checked","");
            $cable.prepend(AyS);
        }else if (Vcable!="on") {
            AyS.innerHTML =Vcable;
            $canchas.prepend(AyS);}
        const $drenaje=document.getElementById("a_drenaje");
        Vdrenaje='{{inmuebe.drenaje}}';
        if(Vdrenaje=="on"){
            AyS.setAttribute("checked","");
            $drenaje.prepend(AyS);
        }else if (Vdrenaje!="on") {
            AyS.innerHTML =Vdrenaje;
            $canchas.prepend(AyS);}
        const $ajuegos=document.getElementById("a_ajuegos");
        Vajuegos='{{inmuebe.ajuegos}}';
        if(Vajuegos=="on"){
            AyS.setAttribute("checked","");
            $ajuegos.prepend(AyS);
        }else if (Vajuegos!="on") {
            AyS.innerHTML =Vajuegos;
            $canchas.prepend(AyS);}
        const $energiae=document.getElementById("a_energiae");
        Venergiae='{{inmuebe.energiae}}';
        if(Venergiae=="on"){
            AyS.setAttribute("checked","");
            $energiae.prepend(AyS);
        }else if (Venergiae!="on") {
            AyS.innerHTML =Venergiae;
            $canchas.prepend(AyS);}
        const $gas=document.getElementById("a_gas");
        Vgas='{{inmuebe.gas}}';
        if(Vgas=="on"){
            AyS.setAttribute("checked","");
            $gas.prepend(AyS);
        }else if (Vgas!="on") {
            AyS.innerHTML =Vgas;
            $canchas.prepend(AyS);}
        const $seguridad=document.getElementById("a_seguridad");
        Vseguridad='{{inmuebe.seguridad}}';
        if(Vseguridad=="on"){
            AyS.setAttribute("checked","");
            $seguridad.prepend(AyS);
        }else if (Vseguridad!="on") {
            AyS.innerHTML =Vseguridad;
            $canchas.prepend(AyS);}
        const $apotable=document.getElementById("a_apotable");
        Vapotable='{{inmuebe.apotable}}';
        if(Vapotable=="on"){
            AyS.setAttribute("checked","");
            $apotable.prepend(AyS);
        }else if (Vapotable!="on") {
            AyS.innerHTML =Vapotable;
            $canchas.prepend(AyS);}
        const $lineat=document.getElementById("a_lineat");
        Vlineat='{{inmuebe.lineat}}';
        if(Vlineat=="on"){
            AyS.setAttribute("checked","");
            $lineat.prepend(AyS);
        }else if (Vlineat!="on") {
            AyS.innerHTML =Vlineat;
            $canchas.prepend(AyS);}
        const $ccerrado=document.getElementById("a_ccerrado");
        Vccerrado='{{inmuebe.ccerrado}}';
        if(Vccerrado=="on"){
            AyS.setAttribute("checked","");
            $ccerrado.prepend(AyS);
        }else if (Vccerrado!="on") {
            AyS.innerHTML =Vccerrado;
            $canchas.prepend(AyS);}
        const $otros=document.getElementById("a_otros");
        Votros='{{inmuebe.otros}}';
        if(Votros=="on"){
            AyS.setAttribute("checked","");
            $otros.prepend(AyS);
        }else if (Votros!="on") {
            AyS.innerHTML =Votros;
            $canchas.prepend(AyS);}
</script>

{% endblock javascripts %}
